<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Еженедельный дайджест</title>
</head>
<body>
    <!--  В теме письма должен быть сам заголовок статьи.
    Текст состоит из вышеуказанного HTML и текста: «Здравствуй, username. Новая статья в твоём любимом разделе!».
    Письмо с HTML-кодом заголовка и первых 50 символов текста статьи.
    -->
    <h2>Вот, что изменилось в твоем любимом разделе за неделю</h2>
    <hr>
    <br>
    <ol>
        {% for post in news %}
        <li>
            <h3>{{ post.title }}</h3>
            <i>{{ post.post_date|date:'M d Y' }}</i>
            <p>{{ post.text|truncatechars:50 }}</p>
            <p>Читать полностью: http://127.0.0.1:8000/news/{{post.pk}}</p>
            <br>
        </li>
        {% endfor %}
    </ol>
</body>
</html>